.app-wrapper {
  display: grid;
  grid-template-areas:
          "header header"
                      "navbar content";
    grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 100%;
  overflow-x:hidden;
}

.app-wrapper-content {
  grid-area: content;
}